.map-marker {
  height: 28px;
  width: 2.5em;
  background-color: #fafafa;
  font-size: 22px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
  border-radius: 12px;
  padding: 0px 9px;
  z-index: 1000;
  position: relative;
}

.hover {
  filter: drop-shadow(0 25px 25px rgba(0, 0, 0, 0.15));
}
